
/* John Baskerville CSS Styling */


/* Reseting default user-agents */

    body {
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 200px;
        
        background: #ffffff
            ;
        color: #36393a;
        padding: 20px;
        }
        
    div {
        background-color: #36393a
    }

    h1 {  
        font-family: 'Langdon';
        font-size: 100px;
        text-transform: lowercase;
        letter-spacing: 4px;
         color: #f95257;
        text-shadow: 0ps 2px 3px #555;

        padding: px 40px 30px 70px
            }

    h2 {
        font-family: 'langdon';
        font-size: 40px;
        padding-bottom: 20px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 4px;
        transform-origin: left;
        color: #ffffff;
        padding-bottom: 20px;
        padding-top: 20px;
            
        }
        
        h1, h2, h3 {
            font-weight: normal;
            text-align: center;
            margin: 10px 0;
            }
       h3 {
           color: #f95257;
           font-family: 'langdon';
            font-size: 40px;
            letter-spacing: 4px;
           text-transform: uppercase;
           padding-top: 20px;
           padding-bottom: 15px;
            border-top: 1px solid #36393a;
            background-color: #36393a}
            





    .Intro {
            font-style: normal;
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
        
    }

   
 p {
 font-size: 19px
 }
    .AMP {font size: 50px;
        
        
        
    }

    .Subtitle{
            font-style: italic
            }
  
        a {
        color: #f95257;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        }
    
    a:hover {
        text-decoration: underline;
        color: #ffffff;        
        }
        
     nav ul {
         text-align: center;
         list-style-type: none
        }
        
        nav ul li {
            display: inline;
            margin: 10px;
        }
        nav {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            
        }
    
       section {
           padding-bottom: 40px
       }
       
        img {
            display: block;
            margin: auto;
        }
            
    section {
        text-align: center;
        font-size: 20px;
    
    }

.social li img {
  width: 20px;
}

    footer {
        text-align: center;
        background-color: #36393a;
        padding-bottom: 30px;
        padding-top: 10px

        }

   .social {
  margin-top: 30px;
  text-align: center;
}

.social li {
  display: inline;
  margin: 5px;
  color: #444;
}




